<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     

    <title>Reliance Dental Care Center</title>

    {{>styles}}

    <style>

        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display:flex;
            align-items: center;
            min-height: 100vh;

        }

        canvas {
            margin: auto;
        }

        header{
	
        justify-content:flex-end;
        height: 100%;
        background-image: url(/images/photo.jpg);
        
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        overflow:hidden;
        }

        
  


        
        


    </style>
</head>

<body>
    <header>

    {{>header}}
  
           
    
    

    <div id="content-wrapper" class="container-fluid">
        <div class="row">
            <div class="bg_image">
                <div id="about_text_bg">
                    <h1>Reliance Dental Care Center</h1>
                    <p>Modern dentistry has evolved to the point where even the procedures that once caused the most fear are easier, 
                        safer, more effective and more comfortable than ever. If you have any anxiety about visiting the dentist,
                         we invite you to arrange a visit with our professional and friendly clinical team.
                    </p>
                    <p> Our dentist and team are friendly, gentle, kind and will help you feel completely at ease. 
                        Our clinic has a welcoming atmosphere that will reduce any stress you have while visiting.</p>
                </div>
            </div>
        </div>


        {{>footer}}

</body>

{{>scripts}}
</header>
</html>