<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sign up | AllSport</title>
	
	<style>
		body {
			margin:0;
			padding:0;
			overflow: hidden;
		}
		canvas {
			margin:auto;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="text-center">
			<h1>Thank You for signing up</h1>
			<form id="adminSignupForm">
				<input type="text" class="form-control" id="email" placeholder="Email">
				<input type="password" class="form-control" id="password" placeholder="Password">
				<button type="submit" class="btn btn-primary btn-sm btn-block">Sign up</button>
				<p></p>
			</form>
		</div>
	</div>
</body>

<script src="../js/user/signup.js"></script>

</html>
