<!-- navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <!-- this is the button for the menu on mobile -->
      <button id="navbar-mobile-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <!-- this is for the icon for the button -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- end-->

      <!-- this is for the logo -->
      <a class="navbar-brand" href="/"><img src="../images/logo.png"></a>
      <!-- end -->

    </div>

    <!-- navigation item list -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/doctors">Doctors</a></li>
        
        {{#if user}}
          <li><a href="/users/me"><img class="avatar-small crop" src="/users/me/avatar"></a></li>        
        {{else}}
          <li><a href="/users/me">Log in</a></li>
        {{/if}}
      </ul>
    </div>
    <!-- end -->
  </div>
</nav>
<!-- end -->
