<!DOCTYPE html>
<html lang= "en">
<head>

    <meta content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Reliance Dental Care Center </title>



</head>
<body>
<header>
    <div class= "main">
        <div class= "logo">
            <img src= "logo.png" alt = "logo">
        </div>
        <ul>
            <li> <a href = "index1.html">Home</a> </li>
            <li> <a href = "Services.html">Services</a> </li>
            <li> <a href = "Doctors.html">Doctors</a> </li>
            <li> <a href = "Comments.html">Contacts</a> </li>
            <li> <a href = "index2.html" > Login/Register</a> </li>




        </ul>
    </div>
    <div class = "title">
        <h1 style = "font-size:3.8vw;">Reliance Dental Care Center</h1>
        <link href = "Dental%20Care%20Center.hbs" rel = "stylesheet" type = "text/css">
    </div>
    <div class = "button">
        <a href="https://www.youtube.com/watch?v=U24WMWyMr08" class= "btn" >WATCH A VIDEO</a>
        <a href="LearnMore.html" class= "btn" >LEARN MORE</a>

    </div>
</header>
</body>
</html>
