*{
    margin: 0;
    padding: 0;

}
main{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, 50%);
}

.input-group{
    position: relative;
}

.input-group .input-area{
    outline: none;
    border: 1px solid #6495ED;
    padding: 10px 8px;
    font-size:15px;
    border-radius: 5px;
}
.input-group .input-area:valid + .label{
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: royalblue;
}

.input-group .input-area:focus{
border: 2px solid royalblue;
}

.input-group .input-area:focus + .label{
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: royalblue;
}

.input-group .label{
    color: black;
    position: absolute;
    top: 20px;
    left:13px;
    transition: 0.2s;
}

